.FrameworksContent{
  padding-bottom: 10px;
  text-align: center;
  .Title{
    text-transform: uppercase;
    padding-bottom: 10px;
    h3{
      font-size: 1.5rem;
    }
  }
  .LanguagesList{
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li{
        list-style-type: none;
        padding: 20px;
        p{
          font-size: 1.1rem;
          transition: ease-in-out 1s;
        }
        p:hover{
          background-color: black;
          color: white;
        }
      }
    }
  }
}

h1{
  transition: ease-in-out 1s;
  width: 410px;
}
h1:hover{
  background-color: black;
  color: white;
  
}

@media screen and (max-width: 600px) {
  .FrameworksContent{
    padding-bottom: 10px;
    .Title{
      text-transform: uppercase;
      padding-bottom: 10px;
      h3{
        font-size: 1.5rem;
      }
    }
    .LanguagesList{
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          list-style-type: none;
          p{
            font-size: 1.1rem;
            padding: 20px;
          }
        }
      }
    }
  }
}