// Fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

$font-1: 'Roboto', sans-serif;
$font-2: 'Cabin', sans-serif;

//General CSS
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}